h1, p {
    text-align: center;
    margin-top: 2em;
}


label {
    margin: 0 10px;
}

form {
    max-width: 600px;
    min-width: 300px;
    margin: 2rem auto;
    background-color: rgb(253, 187, 45);
}

input {
    margin: 10px 10px;
}

input[type="text"], [type="number"] {
    display: block;
    max-width: 600px;
    min-width: 300px;
    padding: 0.5rem;
    width: 95%;
}

input[type="submit"] {
    width: 20%;
}


.inline {
    display: inline-block;
    max-width: 600px;
    min-width: 300px;
    padding: 0px;
}

select {
    display: block;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin-top: 10px;
}

div {
    margin-bottom: 10px;
}

fieldset {
    border: 0;
}

legend {
    padding-left: 10px;
}

textarea {
    margin: 1em 1em;
    padding: 10px;
    width: 95%;
    line-height: 1.5;
    box-shadow: 0mm;
}